/*
 * Remove extra space between paragraphs
 */
.rich_text>p:empty,
.rich_text>p:has(> br:first-child):not(:first-child):has(+ *) {
    line-height: 8px !important;
}

.EditorTheme__table {
    width: 100%;

    .EditorTheme__tableCell {
        border-color: var(--border) !important;
    }
}